@media only screen and (max-width: 375px) {
  .main {
    width: auto;
    height: auto;
    margin: 5rem;
  }
  .main img {
    width: 20rem;
  }

  .main .bold_text {
    font-size: 1.5rem;
  }
  .small_text {
    font-size: 12px;
    width: 20rem;
    margin-bottom: 1rem;
    color: darkgray;
  }
}
